<% (@worker_count || 1).times do |num| %>
    check process resque_<%= num %>
    with pidfile <%= @deploy[:deploy_to] %>/shared/pids/resque_<%= num %>.pid
    start program = "/usr/bin/env HOME=/home/deploy PATH=/usr/local/bin:/usr/local/ruby/bin:/usr/bin:/bin:$PATH /bin/sh -l -c 'cd <%= @deploy[:deploy_to] %>/current; nohup bundle exec rake resque:work RAILS_ENV=production QUEUE=* VERBOSE=1 PIDFILE=tmp/pids/resque_<%= num %>.pid >> log/resque_<%= num %>.log 2>&1 '"
      as uid deploy and gid apache
      with timeout 90 seconds
    stop program = "/bin/bash -c '/bin/kill -TERM `cat <%= @deploy[:deploy_to] %>/shared/pids/resque_<%= num %>.pid`'"
      with timeout 180 seconds
    group resque
<% end %>
